.header {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__wrapper {
  position: relative;
}

.header__decor {
  position: absolute;
  top: -51px;
  left: -476px;
  width: 300px;
  height: 300px;
  background: linear-gradient(135deg, #ff3d1b 0%, #fd6e33 100%);
  border-radius: 50px;
}

.header__content {
  padding: 84px 0 75px;
  position: relative;
  width: 100%;
  max-width: 570px;
}

.header__tag {
  font-size: 20px;
  color: var(--white-color);
  width: auto;
  display: inline-block;
  padding: 8px 20px 11px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  position: absolute;
  top: 174px;
  right: -325px;
}

.header__title {
  font-weight: 700;
  font-size: 58px;
  text-transform: uppercase;
  color: var(--red-color);
  margin-bottom: 36px;
}

.header__text {
  font-weight: 500;
  font-size: 28px;
  color: var(--bg-color);
  margin-bottom: 38px;
}

.header__list {
  margin-bottom: 41px;
}

.header__list-item {
  padding-left: 42px;
  font-weight: 300;
  font-size: 20px;
  color: var(--white-color);
  position: relative;
  margin-bottom: 10px;

  &:before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url(../img/header-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.header__discount {
  width: 220px;
  height: 245px;
  position: absolute;
  background-image: url(../img/header-discount-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 60px;
  color: var(--white-color);
  text-shadow: 5px 0 10px 0 var(--shadow-color);
  top: 270px;
  right: -180px;

  span {
    padding-left: 30px;
    animation-duration: 3s;
  }
}

.header__boot {
  width: 685px;
  height: auto;
  position: absolute;
  bottom: 10px;
  right: -510px;
  z-index: 2;
}

.header__price {
  width: 100%;
  max-width: 358px;
  border: 2px solid var(--white-color);
  border-radius: 20px;
  box-shadow: 0 10px 20px 0 var(--shadow-color);
  background-color: var(--price-bg-color);
  padding: 12px 20px;
  margin-bottom: 28px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.old__price {
  font-weight: 500;
  font-size: 24px;
  color: var(--old-price-color);
  position: relative;
  padding: 0 10px;

  &:before {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--red-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-3deg);
  }
}

.new__price {
  font-weight: 700;
  font-size: 32px;
  color: var(--red-color);
}

.order__btn {
  display: inline-block;
  width: 360px;
  height: auto;
  border-radius: 30px;
  background: linear-gradient(90deg, #ff6a00 0%, #ff3d1b 100%);
  position: relative;
  overflow: hidden;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
  padding: 20px;

  span, img {
    position: relative;
    z-index: 2;
  }

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    background: linear-gradient(-90deg, #fc832d 0%, #c03219 100%);
    opacity: 0;
    transition: 0.5s ease;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.header__info {
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  color: var(--white-color);
  margin-top: 28px;
  position: relative;
  z-index: 3;
}

.header__img-decor {
  width: 442px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: -803px;

  &:before {
    content: "";
    width: 75%;
    height: 100%;
    position: absolute;
    top: -50px;
    right: -50px;
    border-radius: 50px;
    background: linear-gradient(135deg, #ff3d1b 0%, #fd6e33 100%);
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 50px 50px 0 0;
    box-shadow: 0 -5px 20px 0 var(--shadow-color);
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 1480px) {
  .header__decor {
    top: -80px;
    left: -360px;
  }
}

@media (max-width: 1280px) {
  .header__content {
    padding: 60px 0 45px;
    max-width: 480px;
  }
  .header__title {
    font-size: 50px;
  }
  .header__tag {
    position: static;
    font-size: 18px;
    top: 156px;
    right: -300px;
    margin-bottom: 10px;
  }
  .header__boot {
    width: 600px;
    bottom: 0px;
    right: -465px;
  }
  .header__discount {
    width: 185px;
    height: 205px;
    font-size: 52px;
    top: 300px;
  }
  .header__img-decor {
    width: 380px;
    right: -600px;
  }
  .header__info {
    font-size: 15px;
    margin-top: 18px;
  }
}

@media (max-width: 1080px) {
  .header__content {
    padding: 43px 0 56px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__tag {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .header__title {
    font-size: 54px;
    text-align: center;
    margin-bottom: 29px;
  }
  .header__text {
    font-size: 28px;
    margin-bottom: 29px;
    text-align: center;
  }
  .header__decor {
    display: none;
  }
  .header__img-decor {
    display: none;
  }
  .header__discount {
    position: static;
    top: auto;
    right: auto;
    align-self: flex-start;
    margin-bottom: -130px;
    margin-left: 80px;
  }
  .header__boot {
    width: 100%;
    position: static;
    bottom: auto;
    right: auto;
    transform: scaleX(-1);
  }
  .header__info {
    font-size: 18px;
    margin-top: 36px;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .header__discount {
    margin-bottom: -120px;
    margin-left: 30px;
  }
}

@media (max-width: 540px) {
  .header {
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 50%;
      background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0) 100%);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .header__content {
    padding: 10vw 0 13vw;
  }
  .header__tag {
    font-size: 4.2vw;
    padding: 2.5vw 9vw;
    margin-bottom: 4.5vw;
  }
  .header__title {
    font-size: 10vw;
    text-align: center;
    margin-bottom: 7vw;
  }
  .header__text {
    font-size: 5.5vw;
    margin-bottom: 7vw;
  }
  .header__list-item {
    padding-left: 8vw;
    font-size: 4.5vw;
    margin-bottom: 2.5vw;
  }
  .header__list-item:before {
    width: 5.1vw;
    height: 5.1vw;
  }
  .header__list {
    margin-bottom: 8vw;
  }
  .header__discount {
    width: 34vw;
    height: 38vw;
    font-size: 9vw;
    margin-bottom: -22vw;
    margin-left: 5vw;
  }
  .header__discount span {
    padding-left: 4.5vw;
  }
  .header__boot {
    width: 120%;
  }
  .header__price {
    max-width: 87vw;
    border-radius: 4.5vw;
    padding: 2.8vw 3vw;
    margin-bottom: 7vw;
  }
  .price {
    gap: 4.5vw;
  }
  .old__price {
    font-size: 5.5vw;
    padding: 0 2vw;
  }
  .new__price {
    font-weight: 700;
    font-size: 8vw;
    color: var(--red-color);
  }
  .order__btn {
    width: 87vw;
    border-radius: 7vw;
    font-size: 4.5vw;
    padding: 4.5vw;
  }
  .header__info {
    font-size: 4.2vw;
    margin-top: 8vw;
  }
}
