.info {
}

.info__wrapper {
  position: relative;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.info__decor {
  position: absolute;
  height: auto;
  z-index: -1;
}

.info__decor-1 {
  width: 739px;
  top: 180px;
  right: -540px;
  transform: rotate(-7.3deg);
}

.info__decor-2 {
  width: 370px;
  top: 470px;
  left: -580px;
  transform: rotate(-69.6deg);
}

.info__decor-3 {
  width: 313px;
  transform: rotate(-16.6deg);
  top: 60px;
  left: 440px;
}

.info__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 74px;
}

.info__content-left {
  width: 558px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  gap: 37px;
}

.info__content-img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  box-shadow: 0 10px 20px 0 var(--shadow-color);
}

.info__content-right {
}

.info__content-title {
  font-weight: 700;
  font-size: 54px;
  margin-bottom: 77px;
  padding-right: 50px;
}

.info__content-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 38px;
  gap: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.info__content-icon {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid var(--white-color);
  border-radius: 20px;
  box-shadow: 0 10px 20px 0 var(--shadow-color);
  background: var(--price-bg-color);
}

.info__content-text {
  font-weight: 600;
  font-size: 22px;
}

.info__boot {
  width: 709px;
  height: auto;
  align-self: flex-end;
  transform: rotate(-17deg);
  margin-right: -320px;
  margin-top: -100px;
  margin-bottom: -90px;
  position: relative;
  z-index: 2;
}

.info__block {
  border: 2px solid var(--white-color);
  border-radius: 50px;
  box-shadow: 0 10px 20px 0 var(--shadow-color);
  background: var(--price-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 62px 66px 62px 62px;
  position: relative;
  margin-bottom: -72px;
  z-index: 1;
}

.info__block-content {
}

.info__block-title {
  font-weight: 700;
  font-size: 46px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.info__block-text {
  font-weight: 400;
  font-size: 18px;
  color: #111;
  margin-bottom: 44px;
}

.info__block-list {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  list-style-type: disc;
  list-style-position: inside;
}

.info__order {
  width: 280px;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 17px 16px 17px 30px;
  font-size: 18px;
  text-transform: none;
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  img {
    width: 29px;
    height: auto;
    flex-shrink: 0;
  }
}

.info__block-img {
  width: 500px;
  height: auto;
  border-radius: 50px;
  flex-shrink: 0;
}

@media (max-width: 1280px) {
  .info__decor-3 {
    left: 332px;
  }
  .info__content-left {
    width: 470px;
  }
  .info__content-title {
    font-size: 48px;
    margin-bottom: 30px;
    padding-right: 20px;
  }
  .info__content-item {
    margin-bottom: 30px;
  }
  .info__block-img {
    width: 450px;
  }
  .info__block-title {
    font-size: 42px;
  }
}

@media (max-width: 1080px) {
  .info__decor-1 {
    top: 800px;
    right: -220px;
  }
  .info__decor-2 {
    display: none;
  }
  .info__decor-3 {
    left: -100px;
  }
  .info__content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }
  .info__content-left {
    width: 558px;
  }
  .info__content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info__content-title {
    font-size: 48px;
    margin-bottom: 35px;
    text-align: center;
    padding-right: 0;
  }
  .info__content-item {
    width: 100%;
    max-width: 400px;
  }
  .info__boot {
    width: 709px;
    margin-right: 0;
    margin-top: 40px;
    margin-bottom: -40px;
    align-self: center;
  }
  .info__block {
    flex-direction: column;
    align-items: center;
    gap: 62px;
  }
  .info__block-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info__block-title {
    text-align: center;
  }
  .info__block-text {
    text-align: center;
  }
  .info__block-img {
    width: 100%;
  }
  .info__order {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    margin-top: 36px;
  }
}

@media (max-width: 540px) {
  .info__decor-3 {
    width: 50vw;
    top: 5vw;
    left: -20vw;
  }
  .info__decor-1 {
    width: 126vw;
    top: 140vw;
    right: -56vw;
  }
  .info__wrapper {
    padding-top: 20vw;
  }
  .info__content {
    gap: 12vw;
  }
  .info__content-title {
    font-size: 8vw;
    margin-bottom: 8.5vw;
  }
  .info__content-item {
    width: 100%;
    max-width: 77vw;
    gap: 4.5vw;
    margin-bottom: 7vw;
  }
  .info__content-text {
    font-size: 5.2vw;
  }
  .info__content-left {
    width: 100%;
    gap: 8vw;
  }
  .info__boot {
    width: 120%;
    margin-right: 0;
    margin-top: 10vw;
    margin-bottom: -5vw;
  }
  .info__block {
    padding: 14vw 6vw 10vw;
    gap: 15vw;
    border-radius: 12vw;
    margin-bottom: -12vw;
  }
  .info__block-title {
    font-size: 8vw;
    margin-bottom: 8vw;
  }
  .info__block-text {
    font-size: 4.4vw;
    margin-bottom: 9vw;
  }
  .info__block-list {
    font-size: 4.5vw;
    gap: 1.8vw;
  }
  .info__order {
    width: 68vw;
    padding: 4vw 4vw 4vw 7vw;
    font-size: 4.5vw;
  }
  .info__order img {
    width: 7vw;
  }
  .info__block-img {
    border-radius: 12vw
  }
}
