.order {
}

.order__wrapper {
  padding: 147px 0 124px;
  position: relative;

  .info__decor-1 {
    right: -585px;
  }
  .info__decor-2 {
    left: -540px;
  }
}

.order__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.order__item-gallery {
  width: 600px;
  height: auto;
  flex-shrink: 0;
  border: 2px solid var(--white-color);
  border-radius: 50px;
  box-shadow: 0 10px 20px 0 var(--shadow-color);
}

.order__gallery.owl-carousel {
  display: none;
}

.order__gallery-gray.owl-carousel {
  display: block;
}

.order__gallery .owl-stage-outer {
  border-radius: 50px;
}

.order__gallery .owl-dots {
  position: absolute;
  bottom: -44px;
  margin-top: 0;
  left: 0;

  button {
    background-color: var(--order-dots-color) !important;
    border-color: var(--order-dots-color) !important;

    &.active {
      background-color: var(--red-color) !important;
      border-color: var(--red-color) !important;
    }
  }
}

.order__slide {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

.order__content {
  .header__info {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.58;
    text-align: center;
    color: var(--order-black-btn);
    width: 100%;
    max-width: 390px;
    margin: auto;
  }
}

.order__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
  gap: 10px;
}

.order__name {
  width: auto;
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
}

.order__raiting {
  display: inline-flex;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;

  img {
    width: 18px;
    height: auto;
  }
}

.order__info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: var(--order-info-color);
  font-size: 18px;
  margin-bottom: 8px;

  span {
    width: auto;
    flex-shrink: 0;
  }
}

.order__info-left {
  padding-right: 2px;
}

.order__info-divider {
  border-bottom: 1px dotted var(--order-info-color);
}

.order__info-right {
  font-weight: 600;
  text-align: right;
  padding-left: 2px;
}

.order__info-color {
  margin-top: 14px;
  margin-bottom: 34px;
}

.order__color-btns {
  width: auto;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  padding-left: 16px;
}

.color__btn {
  width: 29px;
  height: 29px;
  border-radius: 100%;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;

  &:before {
    content: "";
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    box-sizing: border-box;
    border-radius: 100%;
    border: 1px solid var(--red-color);
    position: absolute;
    top: -5px;
    left: -5px;
    opacity: 0;
    transition: 0.3s ease;
    visibility: hidden;
  }

  &.active {
    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.gray {
  background-color: var(--order-dots-color);
}

.black {
  background-color: var(--order-black-btn);
}

.order__form {
  width: 100%;
  height: auto;
}

.order__input-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 10px;

  &:before {
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
  }
}

.order__input {
  width: 100%;
  height: 46px;
  border: 1px solid var(--order-input-border-color);
  background: var(--white-color);
  border-radius: 50px;
  font-size: 18px;
  line-height: 1.5;
  color: var(--order-info-color);
  padding: 0 20px 0 60px;
}

.name:before {
  background-image: url(../img/name.png);
}

.phone:before {
  background-image: url(../img/phone.png);
}

.size:before {
  background-image: url(../img/tringle.png);
}

.order__submit {
  width: 100%;
  margin-top: 10px;
  cursor: pointer;

  b {
    font-weight: 700;
  }
}

.order__quantity {
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: var(--order-quantity-color);
  margin-top: 14px;
  margin-bottom: 29px;
}

@media (max-width: 1280px) {
  .order__item-gallery {
    width: 530px;
  }
  .order__wrapper .info__decor-2 {
    left: -455px;
  }
}

@media (max-width: 1080px) {
  .order__item {
    flex-direction: column;
    align-items: center;
    gap: 76px;
  }
  .order__item-gallery {
    width: 100%;
  }
  .order__wrapper .info__decor-2 {
    display: block;
    top: -120px;
    left: -255px;
  }
  .order__wrapper .info__decor-1 {
    right: -425px;
    top: auto;
    bottom: 142px;
  }
}

@media (max-width: 540px) {
  .order__wrapper {
    padding: 24vw 0 28vw;
  }
  .order__wrapper .info__decor-2 {
    width: 52vw;
    top: -11vw;
    left: -24vw;
  }
  .order__wrapper .info__decor-1 {
    width: 170vw;
    right: -90vw;
    bottom: 28vw;
  }
  .order__item {
    gap: 18vw;
  }
  .order__gallery .owl-dots {
    bottom: -11vw;
  }
  .order__header {
    margin-bottom: 5vw;
    gap: 2vw;
  }
  .order__name {
    font-size: 10vw;
  }
  .order__info {
    font-size: 4.5vw;
    margin-bottom: 2vw;
  }
  .order__info-color {
    margin-top: 3vw;
    margin-bottom: 7vw;
  }
  .order__quantity {
    font-size: 3.2vw;
    margin-top: 3vw;
    margin-bottom: 7vw;
  }
  .order__content .header__info {
    font-size: 4.2vw;
  }
}
