:root {
    --font-family: "Inter", sans-serif;
    --text-color: #1f2d3d;
    --bg-color: #f4f5f7;
    --red-color: #ff6a00;
    --white-color: #fff;
    --border-color: #b4b5b7;
    --price-bg-color: #eeeff1;
    --shadow-color: rgba(0, 0, 0, 0.25);
    --old-price-color: #333;
    --order-dots-color: #777;
    --order-info-color: #1e2228;
    --order-black-btn: #050505;
    --order-input-border-color: #d9d9d9;
    --order-quantity-color: #000;
    --review-nav-color: #d4d4d5;
}